body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #121212;
  color: #fff;
  height: 100vh;
}

header h1::before {
  content: '';
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 0.355em;
  background-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" fill="white" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.5937 3.8906C11.2228 3.3342 10.5983 3 9.92963 3H3C1.34315 3 0 4.34315 0 6V25C0 27.2091 1.79086 29 4 29H28C30.2091 29 32 27.2091 32 25V10C32 7.79086 30.2091 6 28 6H14.0704C13.4017 6 12.7772 5.6658 12.4063 5.1094L11.5937 3.8906ZM16 13.4395C17.2403 11.6172 20.1031 11.4612 21.5087 13.3388L21.59 13.4473C22.6951 14.9235 22.4906 16.959 21.1122 18.2044L16.7731 22.1247L16.759 22.1374C16.6994 22.1914 16.6142 22.2686 16.5289 22.3276C16.4209 22.4024 16.2421 22.5 16 22.5C15.7578 22.5 15.579 22.4024 15.471 22.3276C15.3857 22.2686 15.3005 22.1914 15.2409 22.1374L15.2268 22.1247L10.8877 18.2044C9.50926 16.959 9.3048 14.9235 10.4099 13.4473L10.4912 13.3388C11.8968 11.4612 14.7596 11.6172 16 13.4395Z" /></svg>');
  background-repeat: no-repeat;
  background-size: contain;
}

header {
  padding: 24px 0;
}

input {
  background-color: #1e1e1e;
  color: #fff;
}

.MuiTable-root {
  background-color: #1f1f1f;
}

.MuiTableCell-root {
  color: #fff;
}

.favorite-button {
  color: #D1022B;
}

.remove-button {
  color: #eee;
}

.MuiDataGrid-columnHeaderDraggableContainer svg {
  color: #B0B0B0;
}

.MuiOutlinedInput-root {
  overflow: visible;
}

.container > div {
  overflow-y: auto;
  height: 100%;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

footer button {
  text-transform: uppercase;
}

footer p {
  text-transform: lowercase;
}

footer {
  font-size: 0.75rem;
  color: #aaa;
  padding: 12px;
  text-align: center;
}

@media (max-width: 1200px) {
  main {
    flex-direction: column;
  }
}
